@page
@model StopCheck2.Pages.User.LogoutModel
@using StopCheck2.Utils;
@{
    ViewData[Constants.TITLE_KEY] = "Logout";
    ViewData[Constants.USER_KEY] = null;
    SessionHelper.ClearCurrentUser(HttpContext);
}

<h2>You have logged out!</h2>