@page
@model IndexModel
@using StopCheck2.Utils;
@{
    ViewData[Constants.TITLE_KEY] = "Home page";
    ViewData[Constants.USER_KEY] = SessionHelper.GetCurrentUser(HttpContext);
}

<div class="text-center">
    <h1 class="display-4">Hello</h1>
</div>
