@page
@model StopCheck2.Pages.Misc.AboutModel
@using StopCheck2.Utils;
@{
    ViewData[Constants.TITLE_KEY] = "About";
    ViewData[Constants.USER_KEY] = SessionHelper.GetCurrentUser(HttpContext);
}

<div class="row" style="margin-top: 10px;">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        This is a website, that can be used to take a look at arrival and departure times for public transport in Helsinki region.
    </div>
    <br />
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        Uses API by HSL <a href="https://www.hsl.fi/en/opendata">https://www.hsl.fi/en/opendata</a>
    </div>
    <br />
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        And OpenLayers maps <a href="https://openlayers.org/">https://openlayers.org/</a>
    </div>
    <br />
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        Made by Ville Myllykangas.
    </div>
</div>
