@page
@model StopCheck2.Pages.Misc.TodoModel
@using StopCheck2.Utils;
@{
    ViewData[Constants.TITLE_KEY] = "Todo";
    ViewData[Constants.USER_KEY] = SessionHelper.GetCurrentUser(HttpContext);
}

<div class="row" style="margin-top: 10px;">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="jumbotron">
            <h1>Sorry, this feature is yet to be implemented</h1>
        </div>
    </div>
</div>
